<h1>Browse</h1>
<div class="concertIndexContainer">
<div class="searchFormContainer">
    <form action="/concerts" method="GET" enctype="application/x-www-form-urlencoded" >
        <input type="text" name="search" placeholder="Enter title or location (e.g. &quot;California&quot; or &quot;Party&quot;)" value="<% if (textQuery) {%><%=textQuery%><% }%>">
        
        <select aria-label="num" name="num">
            <option value="1">1 per page</option>
            <option value="5">5 per page</option>
            <option value="10" selected>10 per page</option>
            <option value="30">30 per page</option>
            <option value="100">100 per page</option>
        </select>
        <select aria-label="sort" name="sort">
            <option value="none">Sort</option>
            <option value="titleA">Title [A...Z]</option>
            <option value="titleZ">Title [Z...A]</option>
            <option value="priceHigh">Price [Highest]</option>
            <option value="priceLow">Price [Lowest]</option>
        </select>
        <input type="submit" value="&telrec;" >
    </form>
</div>
<% if (numOfPages > 1) { %>
    <div class="pageListContainer">
        <% if (searchQuery) {
            if (currentPage <= 3 || numOfPages <= 5) {
                for (let i = 0; i < numOfPages && i <= 5; i++) { 
                    if (i < 5) { %>
                        <a href="<%=searchQuery%>&num=<%=numPerPage%><%=sortUrl%>&page=<%=i+1%>"><%= i+1 %></a> 
                    <% } 
                    else { %>
                        <span class="ellipses">...</span><a href="<%=searchQuery%>&num=<%=numPerPage%><%=sortUrl%>&page=<%=numOfPages%>"><%=numOfPages%></a> 
                    <% }
                }
            } 
            else if(currentPage >= numOfPages - 2) { %>
                <a href="<%=searchQuery%>&num=<%=numPerPage%><%=sortUrl%>&page=1">1</a><span class="ellipses">...</span>
                <% for (let i = numOfPages - 4; i <= numOfPages; i++) {%>
                    <a href="<%=searchQuery%>&num=<%=numPerPage%><%=sortUrl%>&page=<%=i%>"><%= i %></a> 
                <% } 
            }
            else { %>
                <a href="<%=searchQuery%>&num=<%=numPerPage%><%=sortUrl%>&page=1">1</a><span class="ellipses">...</span>
                <% for (let i = currentPage - 2; i <= currentPage + 2; i++) {%>
                    <a href="<%=searchQuery%>&num=<%=numPerPage%><%=sortUrl%>&page=<%=i%>"><%= i %></a>
                <% } %>
                <span class="ellipses">...</span><a href="<%=searchQuery%>&num=<%=numPerPage%><%=sortUrl%>&page=<%=numOfPages%>"><%=numOfPages%></a>
            <% }  
        } 
        else if (currentPage <= 3 || numOfPages <= 5) {
            for (let i = 0; i < numOfPages && i <= 5; i++) { 
                if (i < 5) { %>
                    <a href="?num=<%=numPerPage%><%=sortUrl%>&page=<%=i+1%>"><%= i+1 %></a> 
                <% } 
                else { %>
                    <span class="ellipses">...</span><a href="?num=<%=numPerPage%><%=sortUrl%>&page=<%=numOfPages%>"><%=numOfPages%></a> 
                <% }
            }
        } 
        else if(currentPage >= numOfPages - 2) { %>
            <a href="?num=<%=numPerPage%><%=sortUrl%>&page=1">1</a><span class="ellipses">...</span>
            <% for (let i = numOfPages - 4; i <= numOfPages; i++) {%>
                <a href="?num=<%=numPerPage%><%=sortUrl%>&page=<%=i%>"><%= i %></a> 
            <% } 
        }
        else { %>
            <a href="?num=<%=numPerPage%><%=sortUrl%>&page=1">1</a><span class="ellipses">...</span>
            <% for (let i = currentPage - 2; i <= currentPage + 2; i++) {%>
                <a href="?num=<%=numPerPage%><%=sortUrl%>&page=<%=i%>"><%= i %></a>
            <% } %>
            <span class="ellipses">...</span><a href="?num=<%=numPerPage%><%=sortUrl%>&page=<%=numOfPages%>"><%=numOfPages%></a>
        <% } %>
    </div>
<%}%>

<div class="concertSection">
    <div class="concertSectionLeft">
        <% for (let i = 0; i < numPerPage && i < numPerPage && concerts[i]; i++) { %>
            <div class="concertContainer">
                <a href="/concerts/<%= concerts[i]._id %>">
                    <div class="concertContainerContent">
                    <% if (concerts[i].image.url) { %>
                        <div class="concertImage" style="background-image:url('<%= concerts[i].image.url %>')"></div>
                    <% } else { %>
                        <img src="<%= concerts[i].image %>" alt="" class="img-fluid">
                    <% } %>
                    
                        <div class="concertBody">
                            <div class="card-body">
                                <div class="concertTitlePriceContainer">
                                    <h2 class="card-title concertTitlePrice"><%= concerts[i].title %> <span style="float:right">&dollar;<%=concerts[i].price%></span></h2>
                                </div>
                                <p class="card-text concertDescription"><%= concerts[i].description %></p>
                                <p class="card-text concertLocation text-muted"><%= concerts[i].location %></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
    
    <div class="concertSectionRight">
        <div id="map" class="clusterMap"></div>
    </div>
</div>
</div>


<script>
    const mapBoxToken = '<%= process.env.MAPBOX_TOKEN %>';
    const concertObj = {features:<%- JSON.stringify(concerts) %>};
</script>
<script src="/js/clusterMap.js"></script>