<% layout("layout/boilerplate") %>
<h1>All Concerts</h1>

<% for (let c of concerts) { %>
    <div class="card mb-3">
        <a class="text-dark text-decoration-none" href="/concerts/<%= c._id %>">
            <div class="row">
                <div class="col-md-4">
                    <% if (c.image.url) { %>
                        <img src="<%= c.image.url %>" alt="" class="img-fluid">
                    <% } else { %>
                    <img src="<%= c.image %>" alt="" class="img-fluid">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= c.title %></h5>
                        <p class="card-text"><%= c.description %></p>
                        <p class="card-text"><small class="text-muted"><%= c.location %></p></small>
                    </div>
                </div>
            </div>
        </a>
    </div>
<% } %>
<footer>
    <a href="/concerts/new">Add Concert</a>
</footer>